build/
.idea
NN_add_cython.c
NN_add_cython.cpython-*-linux-gnu.so
NN_argmax_cython.c
NN_argmax_cython.cpython-*-linux-gnu.so
NN_im2col_cython.c
NN_im2col_cython.cpython-*-linux-gnu.so
NN_relu_cython.c
NN_relu_cython.cpython-*-linux-gnu.so
*.npz
__pycache__
TODO_sbm.rst
