[submodule "vendor/blis"]
	path = vendor/blis
	url = https://github.com/flame/blis.git
[submodule "vendor/tvm"]
	path = vendor/tvm
	url = https://github.com/apache/tvm.git
[submodule "vendor/pympi"]
	path = vendor/pympi
	url = https://github.com/hpca-uji/pympi.git
[submodule "vendor/net-queue"]
	path = vendor/net-queue
	url = https://github.com/hpca-uji/net-queue.git
[submodule "vendor/convGemm"]
	path = vendor/convGemm
	url = https://github.com/hpca-uji/convGemm.git
[submodule "vendor/convWinograd"]
	path = vendor/convWinograd
	url = https://github.com/hpca-uji/convWinograd.git
[submodule "vendor/convDirect"]
	path = vendor/convDirect
	url = https://github.com/hpca-uji/convDirect.git
[submodule "vendor/openfhe"]
	path = vendor/openfhe
	url = https://github.com/openfheorg/openfhe-development.git
[submodule "vendor/openfhe-python"]
	path = vendor/openfhe-python
	url = https://github.com/openfheorg/openfhe-python.git
[submodule "vendor/uarchfhe"]
	path = vendor/uarchfhe
	url = https://github.com/darwinquezada/he_hpc
