# Manuel Francisco Dolz Zaragozá
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel F. Dolz <mdolz@inf.uc3m.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> dolzm@uji.es <dolzm@tintorrum.local>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel Francisco Dolz Zaragozá <dolzm@shirka.uji.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel Dolz Zaragozá <mdolz@macbookpro.home>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manel F. Dolz <mdolz@nowherman.upv.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel F. Dolz <dolzm@uji.es>

# Miguel Ángel Prosper Quirós
Miguel Ángel Prosper Quirós <mprosper@uji.es> Miguel Ángel Prosper <mprosper@uji.es>
Miguel Ángel Prosper Quirós <mprosper@uji.es> Miguel Ángel Prosper <miguelangel.prosper@gmail.com>

# Paul Ximo Pluijter Izquierdo
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> Paul <al386152@uji.es>
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> al386152 <al386152@uji.es>
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> Paul <pluijter@uji.es>

# Sergio Barrachina Mir
Sergio Barrachina Mir <barrachi@uji.es> Sergio Barrachina Mir <barrachi@uji.es>
Sergio Barrachina Mir <barrachi@uji.es> Sergio Barrachina Mir <sergio.barrachina@gmail.com>

# Andrés Enrique Tomás Domínguez
Andrés Enrique Tomás Domínguez <antodo@upv.es> Andres Tomas <antodo@upv.es>
Andrés Enrique Tomás Domínguez <antodo@upv.es> Andres <antodo@upv.es>

# Adrián Castelló Gimeno
Adrián Castelló Gimeno <adcastel@uji.es> Adrián Castelló <adcastel@uji.es>
Adrián Castelló Gimeno <adcastel@uji.es> Adrian Castello <adcastel@uji.es>

# Mar Catalán Carbó
Mar Catalán Carbó <catalama@uji.es> catalama <catalama@herzio.dicc>
