# Adrián Bartolomé López
Adrián Bartolomé López <abartolo@uji.es> abartolo <Jugador.100>
Adrián Bartolomé López <abartolo@uji.es> al394753 <al394753@uji.es>

# Adrián Castelló Gimeno
Adrián Castelló Gimeno <adcastel@uji.es> Adrián Castelló <adcastel@uji.es>
Adrián Castelló Gimeno <adcastel@uji.es> Adrian Castello <adcastel@uji.es>

# Andrés Enrique Tomás Domínguez
Andrés Enrique Tomás Domínguez <antodo@upv.es> Andres Tomas <antodo@upv.es>
Andrés Enrique Tomás Domínguez <antodo@upv.es> Andres <antodo@upv.es>

# Enrique Salvador Quintana Ortí
Enrique Salvador Quintana Ortí <quintana@uji.es> Enrique S. Quintana-Ortí <quintana@disca.upv.es>
Enrique Salvador Quintana Ortí <quintana@uji.es> Enrique Salvador Quintana Ortí <quintana@uji.es>

# Jose Ignacio Mestre Miravet
Jose Ignacio Mestre Miravet <jmiravet@uji.es> Jose Ignacio Mestre Miravet <jmiravet@uji.es>
Jose Ignacio Mestre Miravet <jmiravet@uji.es> Nacho <jmiravet@uji.es>
Jose Ignacio Mestre Miravet <jmiravet@uji.es> jmiravet <jmiravet@uji.es>

# Manuel Francisco Dolz Zaragozá
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel F. Dolz <mdolz@inf.uc3m.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> dolzm@uji.es <dolzm@tintorrum.local>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel Francisco Dolz Zaragozá <dolzm@shirka.uji.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel Dolz Zaragozá <mdolz@macbookpro.home>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manel F. Dolz <mdolz@nowherman.upv.es>
Manuel Francisco Dolz Zaragozá <dolzm@uji.es> Manuel F. Dolz <dolzm@uji.es>

# Mar Catalán Carbó
Mar Catalán Carbó <catalama@uji.es> catalama <catalama@herzio.dicc>

# Miguel Pardo Navarro
Miguel Pardo Navarro <mipardo@uji.es> Miguel Pardo Navarro <mipardo@uji.es>
Miguel Pardo Navarro <mipardo@uji.es> mipardo <mipardo@uji.es>

# Miguel Ángel Prosper Quirós
Miguel Ángel Prosper Quirós <mprosper@uji.es> Miguel Ángel Prosper <mprosper@uji.es>
Miguel Ángel Prosper Quirós <mprosper@uji.es> Miguel Ángel Prosper <miguelangel.prosper@gmail.com>

# Paul Ximo Pluijter Izquierdo
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> Paul <al386152@uji.es>
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> al386152 <al386152@uji.es>
Paul Ximo Pluijter Izquierdo <pluijter@uji.es> Paul <pluijter@uji.es>

# Sergio Barrachina Mir
Sergio Barrachina Mir <barrachi@uji.es> Sergio Barrachina Mir <barrachi@uji.es>
Sergio Barrachina Mir <barrachi@uji.es> Sergio Barrachina Mir <sergio.barrachina@gmail.com>
