Cython>=0.29.21
matplotlib>=3.3.3
numpy>=1.19.4
prettytable>=2.1.0
rich>=9.9.0
scikit-image>=0.17.2
scipy>=1.5.4
tqdm>=4.55.0

wheel>=0.38.0
setuptools>=68.2.0,<80.0.0

bidict>=0.23.1
intbitset>=3.1.0